
@{
    ViewBag.Title = "Hakkında";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Misyon
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
        </div>

    </div>
</div>

<div class="col-md-4 col-sm-4">
    <div class="panel panel-warning">
        <div class="panel-heading">
            Sosyal Ağ Hesapları
        </div>

        <a href="https://www.facebook.com/emre.karaca.33" target="blank"> <img src="assets/img/face.jpg" width="70" height="120"></a>
        <a href="https://twitter.com/krc_emre_46" target="blank"><img src="assets/img/twitter.png" width="70" height="120"></a>
        <a href="https://www.instagram.com/emre.karaca.82" target="blank"><img src="assets/img/instgram.jpg" width="70" height="120">

    </div>
</div>

<div class="col-md-8 col-sm-8">
    <div class="panel panel-success">
        <div class="panel-heading">
            Vizyon
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
        </div>

    </div>
    </div>
   
   

